@font-face {
    font-family: 'Mrs Saint Delafield';
    src: url('../styles/fonts/MrsSaintDelafield-Regular.woff2') format('woff2'),
        url('../styles/fonts/MrsSaintDelafield-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tenor Sans';
    src: url('../styles/fonts/TenorSans.woff2') format('woff2'),
        url('../styles/fonts/TenorSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../styles/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../styles/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../styles/fonts/Lato-Regular.woff2') format('woff2'),
        url('../styles/fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../styles/fonts/Lato-Bold.woff2') format('woff2'),
        url('../styles/fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

